body {
  color: black;
  background-color: #9C74F1;
  width: 100%;
  height: 100%;
}

a {
  color: black;
}

a:hover {
  color: #9C74F1;
  text-decoration: none;
}

a, a:visited {
  transition: 0.3s all ease;
}

b {
  font-family: Switzer-Semibold;
}

.loadermask {
  background-color: #9C74F1;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.loader {
  transform: scale(1);
  height: 94vh;
  width: 97vw;
  border-radius: 3.5rem;
  margin-top: 3vh;
  margin-left: 1.5vw;
  background-color: #FCFBF7;
  position: absolute;
  animation: prova 2.5s;
}

.loader > div {
  width: 97vw;
  height: 94vh;
  border-radius: 3.5rem;
  background: #FCFBF7;
  display: inline-block;
}

@keyframes prova {
  0%, 100% {
    animation-timing-function: ease-in-out;
  }
  25%, 75% {
    transform: scale(0.2);
  }
  50%, 100% {
    transform: scale(1);
  }
}

.box {
  height: 94vh;
  width: 97vw;
  border-radius: 3.5rem;
  margin-top: 3vh;
  margin-left: 1.5vw;
  background-color: #FCFBF7;
  position: fixed;
  padding: 3.5rem;
}

.margini {
  position: absolute;
  overflow: scroll;
  bottom: 0;
  height: 83vh;
  width: auto;
  margin: 0;
  padding: 0;
  margin-right: 3.5rem;
}

.container {
  width: 100%;
  visibility: visible;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.nav {
  width: 25vw;
  font-family: Switzer-medium;
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.button {
  padding-left: 4vw;
}