html, body, section {
  height: 100%;
}

body {
  color: black;
  background-color: #9C74F1;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
}

a:hover {
  color: #9C74F1;
  text-decoration: none;
}

a, a:visited {
  transition: 0.3s all ease;
}

b {
  font-family: Switzer-Semibold;
}

.box {
  height: 94%;
  width: 97%;
  border-radius: 3.5rem;
  background-color: #FCFBF7;
  position: fixed;
  padding: 3.5rem;
  transform: scale(1);
  animation: bouncyScale 2.5s;
}

@keyframes bouncyScale {
  0%, 100% {
    animation-timing-function: ease-in-out;
  }
  25%, 75% {
    transform: scale(0.2);
  }
  50%, 100% {
    transform: scale(1);
  }
}

.box > * {
  opacity: 0;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.margini {
  position: absolute;
  overflow: scroll;
  bottom: 0;
  height: 83vh;
  width: auto;
  margin: 0 3.5rem 0 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.nav {
  width: 25vw;
  font-family: Switzer-medium;
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.button {
  padding-left: 4vw;
}

@media only screen and (max-width: 1200px) {
  .nav {
    width: 100%;
    font-family: Switzer-medium;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  .button {
    padding-left: 0;
  }

  .io {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 590px) {
  .box {
    height: 97%;
    width: 94%;
    border-radius: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .margini {
    margin-right: 1.5rem;
    height: 87vh;
  }
}

@media only screen and (max-width: 703px) and (min-width: 591px) {
  .box {
    width: 94%;
    height: 96%;
    border-radius: 1.5rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .margini {
    margin-left: 0;
    margin-right: 2.5rem;
    height: 88vh;
  }
}

@media only screen and (max-width: 815px) and (min-width: 704px) {
  .box {
    width: 94%;
    height: 96%;
    border-radius: 2.5rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .margini {
    margin-left: 0;
    margin-right: 3rem;
    height: 87vh;
  }
}

@media only screen and (max-width: 927px) {
  .nav {
    width: 100%;
    font-family: Switzer-medium;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  .button {
    padding: 0;
  }

  .description {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 927px) and (min-width: 815px) {
  .box {
    width: 94%;
    height: 96%;
    border-radius: 2.5rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .margini {
    margin-left: 0;
    margin-right: 3rem;
    height: 86vh;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 927px) {
  .loader {
    border-radius: 2.5rem;
  }

  .box {
    border-radius: 2.5rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .margini {
    margin-left: 0;
    margin-right: 2.5rem;
    height: 82vh;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1150px) {
  .loader {
    border-radius: 2.5rem;
  }

  .box {
    border-radius: 2.5rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .margini {
    margin-left: 0;
    margin-right: 2.5rem;
    height: 82vh;
  }
}

@media only screen and (min-width: 3000px) and (min-height: 2000px) {
  .loader {
    border-radius: 8rem;
  }

  .box {
    border-radius: 8rem;
    padding: 8rem;
  }

  .margini {
    margin-right: 8rem;
    height: 85vh;
  }
}