@import "common.css";
@import "fonts.css";
@import "main.css";

.purple {
  color: #9C74F1;
}

.main {
  position: absolute;
  bottom: 0;
}

.contact {
  max-height: 100%;
  display: block;
  position: relative;
  font-family: Switzer-Semibold;
  font-size: 2vh;
  padding-left: 0;
}

.description {
  font-family: Switzer-Semibold;
  font-size: 2.2vh;
  margin-right: 0;
  padding: 0;
  width: 100%;
}

#image {
  visibility: hidden;
  position: absolute;
  border-radius: 40px;
  margin-left: 35vw;
  margin-top: -70vh;

}

.easter {
  width: 30vw;
  height: auto;
}

/*media queryes*/

@media only screen and (max-width: 1200px) {
  .purple {
    color: black;
  }

  #image {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .description {
    padding: 0;
    width: 100%;
    margin-bottom: 5vh;
  }

  .main {
    position: relative;
  }

  .contact {
    top: 0;
    margin-top: 8vh;
    margin-bottom: 3vh;
  }

  .second {
    line-height: 5vh;
  }
}

@media only screen and (max-width: 590px) {
}

@media only screen and (max-width: 703px) and (min-width: 591px) {
}

@media only screen and (max-width: 815px) and (min-width: 704px) {
}

@media only screen and (max-width: 927px) {
  .contact {
    font-size: 2vh;
    padding-bottom: 4vh;
  }
}

@media only screen and (max-width: 927px) and (min-width: 815px) {
}

@media only screen and (max-width: 1150px) and (min-width: 927px) {
}

@media only screen and (max-width: 1200px) and (min-width: 1150px) {
}

@media only screen and (max-width: 1580px) and (min-width: 1200px) {
  .nav {
    width: 28vw;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1200px) {

  .description {
    overflow-y: auto;
    height: 64vh;
  }

}


@media only screen and (max-width: 3000px) and (min-width: 2000px) {
}

@media only screen and (min-width: 3000px) and (min-height: 2000px) {
  .description {
    overflow-y: auto;
    max-height: 65vh;
  }
}