@font-face {
  font-family: 'Switzer-Regular';
  src: url('../assets/fonts/Switzer-Regular.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Regular.woff') format('woff'),
       url('../assets/fonts/Switzer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-Medium';
  src: url('../assets/fonts/Switzer-Medium.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Medium.woff') format('woff'),
       url('../assets/fonts/Switzer-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-Semibold';
  src: url('../assets/fonts/Switzer-Semibold.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Semibold.woff') format('woff'),
       url('../assets/fonts/Switzer-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../assets/fonts/Zodiak-Bold.woff2') format('woff2'),
       url('../assets/fonts/Zodiak-Bold.woff') format('woff'),
       url('../assets/fonts/Zodiak-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}



/*TEXT STYLE*/
a {color: #252525;}
a:hover{
    text-decoration:none;
    color:#5128D3;}

h2{font-family: Zodiak-Bold;
font-size:40px;
padding-bottom:8px;
margin:0;}

h3 {font-family: Switzer-Medium;
font-size: 32px;}

h4 {font-family: Switzer-Medium;
font-size: 24px;}

p{font-family:Switzer-Regular;
font-size:16px;
margin:0;
padding:0;}

h2,h3,h4 {color: #252525;}

b{font-family:Switzer-Semibold;}

    ol{display:block;
margin-bottom:0;}

li{list-style:none;}

li:before {
    content:"✽";
font-size:13px;
color: #5128D3;
padding-right:8px;}

.arrow{font-family:'system-ui', sans-serif;}

body {
    color:black;
    background-color:#5128D3;
    width: 100%;
    height:100%;
}

.box {
    height: 94vh;
    width: 97vw;
    border-radius:48px;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF8;
    position:fixed;
    padding:48px;   
}

.margini {position:absolute;
    overflow:scroll;
    bottom:0;
    height:82vh;
    width:auto;
    margin:0;
    padding-top:0;
    margin-right:48px;
padding-left: 0;
padding-right:0;}

/*NAVBAR*/
.navbar{
    font-family: Switzer-Regular;
    font-size:18px;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    padding:0;
    margin:0;
    font-size:18px;
    width:100%;
    }

.nav{gap:48px;}


/*SIDEBAR*/
.container1{
    margin:0;
    padding:0;
    position:fixed;
    height:82vh;
    overflow: auto;
    padding-right:100px;
    padding-bottom:48px;
    color: #252525;
}

.media{
    font-family: Switzer-Medium;
    padding:0;
    margin-bottom:0;
}

.intro {font-size:20px;
color:#656565;
padding-bottom:48px;
font-family: Switzer-Regular;}

#link{
    color:#5128D3;
    text-decoration: underline;}

#link:hover{
    color:#7756DE;
    text-decoration: underline;}

.tag{
padding-bottom:32px;
display:flex;
justify-content: flex-start;
flex-wrap: wrap;
gap:12px;}

.pill {background-color: #DFD7C2;
    color: #252525;
padding: 4px 8px;
border-radius:4px;
font-size: 13px;
font-family: Switzer-Regular;
text-transform: uppercase;}

/*PROGETTO*/
.container2 {
padding:0;
color: #252525;
}

.back{padding-bottom:64px;}

.projectDetails{
    color:#656565;
    padding-bottom: 100px;
    
}
.project-detail-item {padding: 8px 0px;
display: flex;
flex-direction: row;
border-bottom: 2px solid;
border-color: #DFD7C2;
gap:40px;
}

.project-detail-label {width:50px;
font-size: 13px;}

.project-detail-description {font-size: 13px;}

.element {
    width:100%;
    border-radius: 24px;
    margin-bottom: 24px;
}

.element1 {
    width:100%;
    border-radius: 24px;
    margin-top: 24px;
}

#contrast {border:solid 1px #DFD7C2}


.file{padding-bottom:64px;}
.file1{padding-bottom:24px;}

.background{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.info{ display:flex;
    display:block;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:3;}


.awards {
padding-top:32px;
font-size:13px;
width:100%;}

.number1{font-size:60px;
margin-top:0px;
margin-bottom:-16px;
padding:0;}

.number0{margin-top:-16px;
    font-size:60px;
margin-bottom:-16px;
padding:0;}



/*PROGETTO - PROCESS*/


.step{ 
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
    margin-top: 24px;
    gap:28px;
   
    }

.card{border-radius:8px;
background-color: #DFD7C2;
padding:0px 12px 12px 12px;
flex: 1;
border: none;}

.step-number{
    font-family: Zodiak-Bold;
    font-size:60px;
    }
.step-task{font-size:13px;}

.doubleimg{display:flex;
flex-direction: row;
gap:24px;}


.title{font-size: 18px;
    font-family: Switzer-Medium;
}
.context{padding-bottom: 40px;}

.dida{
    padding-top:8px;
    font-size:13px;
   color:#656565;
}

.result{
    padding:48px;
    border-top: solid 2px;
    border-bottom:solid 2px;
    border-color: #5128D3;
}



/* WORK NAVIGATION*/
.work-navigation {display:flex;
justify-content: flex-end;
padding-bottom: 48px;}

.work-navigation-inner{display:flex;
justify-content: space-between;
width:100%;}

.work-title:hover {color: #5128D3;}

.work-navigation-label-prev {font-size: 13px;}
.work-navigation-label-next {font-size: 13px;
    justify-content:flex-end;
display: flex;}

.work-navigation-inner-first {justify-content:flex-end;}



/*RESPONSIVE*/
@media only screen and (max-width: 1200px){
    
     .box {
    height: 97vh;
    width: 94vw;
    border-radius:24px;
    margin-top:1.5vh;
    margin-left:3vw;
    padding:24px;
}
           .margini{
    height:85vh;  
 padding-left:0;
    margin-right:0;
  padding-right:24px;
}
.container1 {
	width: 100%;
    padding:0;
    position:relative;
    padding-bottom: 64px;
    height:auto;
}
.container2 {
    padding-left: 0;
    width: 100%;
}

    .element{border-radius:16px;}
    
    .background{flex-direction: column;}
    .back{padding-top:40px;}
    .highlight, .result {padding:48px 24px;}
    .file{padding-bottom: 48px;}
    .credits{
        flex-direction: column; 
        gap:24px;}
    
    .step { 
        flex-direction: column; 
        padding-bottom: 24px; 
    }
    
    .project-detail-label {min-width:50px;}
    .project-detail-item {gap: 24px;}
    
    .pill{gap:16px;}
    
    .text{margin:0;
    padding:0;}
    
   h3{font-size:28px;}
    
    
    .result, .info, .back {padding-right:0;
    padding-left:0;}
    

    .work-navigation-inner{display:flex;
flex-direction: column;
width:100%;
    gap:24px;}
    
    .work-navigation-label-next {
        justify-content:flex-start;}
    
    .back {padding-bottom:24px;}
    
    .work-navigation {justify-content:flex-start;}
    
    .work-navigation-inner-first {justify-content:flex-start;}
}

@media only screen and (min-width: 2500px){
    
h2{font-family: Zodiak-Bold;
font-size:80px;
padding-bottom:16px;}

h3 {font-family: Switzer-Medium;
font-size: 56px;}

h4 {font-family: Switzer-Regular;
font-size: 40px;}
    
    .intro {font-size: 32px;}

p, li, .navbar, .media, .title, .task, .step-task, .text {font-size:28px;   
}
    .nav{font-size:28px;}
 
    .box {
    height: 94vh;
    width: 97vw;
    border-radius:80px;
    padding:80px;   
}
    .pill, .dida, .awards, .work-navigation-label-prev, .work-navigation-label-next, .project-detail-label, .project-detail-description {font-size: 20px;}
    .pill {padding: 8px 16px;
    border-radius:8px;}

    .margini{padding-right:80px;
    margin:0;}
    
    .container1{padding-right:200px;}

    
    .number, .number0, .number1, .step-number {font-size: 120px;}
    
    .element, { margin-bottom: 48px;}

.element1 {
    margin-top: 48px;}


.file{padding-bottom:100px;}
.file1{padding-bottom:64px;}
    
    .card {border-radius: 16px;
padding: 0 20px 20px 20px;}


}


