@font-face {
  font-family: 'Switzer-Regular';
  src: url('../assets/fonts/Switzer-Regular.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Regular.woff') format('woff'),
       url('../assets/fonts/Switzer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-Medium';
  src: url('../assets/fonts/Switzer-Medium.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Medium.woff') format('woff'),
       url('../assets/fonts/Switzer-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-Semibold';
  src: url('../assets/fonts/Switzer-Semibold.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Semibold.woff') format('woff'),
       url('../assets/fonts/Switzer-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../assets/fonts/Zodiak-Bold.woff2') format('woff2'),
       url('../assets/fonts/Zodiak-Bold.woff') format('woff'),
       url('../assets/fonts/Zodiak-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}



/*TEXT STYLE*/
a {color: black;}
a:hover{
    text-decoration:none;
    color:#5128D3;}

h2{font-family: Zodiak-Bold;
font-size:40px;
padding-bottom:16px;}

h3 {font-family: Switzer-Regular;
font-size: 32px;}

h4 {font-family: Switzer-Medium;
font-size: 24px;}

p{font-family:Switzer-Regular;
font-size:16px;
margin:0;
padding:0;}

b{font-family:Switzer-Semibold;}

    ol{display:block;
margin-bottom:0;}

li{list-style:none;}

li:before {
    content:"✦";
font-size:13px;
color: #704CE5;
padding-right:8px;}

.arrow{font-family:'system-ui', sans-serif;}

body {
    color:black;
    background-color:#704CE5;
    width: 100%;
    height:100%;
}

.box {
    height: 94vh;
    width: 97vw;
    border-radius:48px;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF7;
    position:fixed;
    padding:48px;   
}

.margini {position:absolute;
    overflow:scroll;
    bottom:0;
    height:82vh;
    width:auto;
    margin:0;
    padding-top:0;
    margin-right:48px;}

/*NAVBAR*/
.navbar{
    font-family: Switzer-Regular;
    font-size:18px;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    padding:0;
    margin:0;
    font-size:18px;
    width:100%;
    }

.nav{gap:48px;}


/*SIDEBAR*/
.container1{
    margin:0;
    padding:0;
    position:fixed;
    height:82vh;
    overflow: auto;
    padding-right:100px;
    padding-bottom:48px;
}

.media{
    font-family: Switzer-Medium;
    padding:0;
    margin-bottom:0;
}

#link{
    color:#704CE5;
    text-decoration: underline;}

#link:hover{
    color:#5128D3;
    text-decoration: underline;}

.tag{
padding-bottom:48px;
font-size: 13px;
font-family: Switzer-Medium;
color:#55535C;
display:flex;
justify-content: flex-start;
flex-wrap: wrap;
gap:12px;}

.pill {border: 2px solid;
padding: 4px 8px;
border-radius:24px;}

/*PROGETTO*/
.container2 {
padding:0;
}

.element {
    width:100%;
    border-radius: 24px;
    margin-bottom: 24px;
}

.element1 {
    width:100%;
    border-radius: 24px;
    margin-top: 24px;
}


.file{padding-bottom:64px;}
.file1{padding-bottom:24px;}

.background{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.info{ display:flex;
    display:block;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:3;}


.awards {
padding-top:32px;
font-size:13px;
width:100%;}

.number1{font-size:60px;
margin-top:-16px;
margin-bottom:-16px;
padding:0;}


/*PROGETTO - GOAL*/
.highlight{padding:48px;
background-color: #704CE5;
color:white;}



/*PROGETTO - PROCESS*/
.step{ 
    display:flex;
    justify-content: space-between;
    margin:0;
    padding:0;
    text-align: center;
    padding-bottom:48px;
    border-bottom: solid 2px;
    border-bottom-color: #704CE5;
    padding-left:48px;
    padding-right:48px;
    margin-bottom:40px;
    }

.number{
    font-family: Zodiak-Bold;
    font-size:60px;
    color:#704CE5;
        }

.doubleimg{display:flex;
flex-direction: row;
gap:24px;}

.task{font-size:13px;}

.title1 {padding-left:48px;}

.dida{
    padding-top:8px;
    font-size:13px;
}

.result{
    padding:48px;
    border-top: solid 2px;
    border-bottom:solid 2px;
    border-color: #704CE5;
}

.credits{display:flex;
justify-content: space-between;
padding-top:24px;
padding-bottom:24px;
border-bottom:solid 2px;
border-color: #704CE5;
}

.nextprev{display:flex;
justify-content: flex-end;
padding-bottom: 48px;}

.align{display:flex;
justify-content: space-between;
width:100%;}



/*RESPONSIVE*/
@media only screen and (max-width: 1200px){
    
     .box {
    height: 97vh;
    width: 94vw;
    border-radius:24px;
    margin-top:1.5vh;
    margin-left:3vw;
    padding:24px;
}
           .margini{
    height:83vh;  
    margin-right:0;
}
.container1 {
	width: 100%;
    padding:0;
    position:relative;
    padding-bottom: 64px;
    height:auto;
}
.container2 {
    padding-left: 0;
    width: 100%;
}
    .margini{
        padding-right:24px;
    }

    .element{border-radius:16px;}
    
    .background{flex-direction: column;}
    .back{padding-top:40px;}
    .highlight, .result {padding:48px 24px;}
    .file{padding-bottom: 48px;}
    .credits{
        flex-direction: column; 
        gap:24px;}
    
    .step { 
        flex-direction: column; 
        padding-left:24px;
        padding-right:24px;
        padding-bottom: 24px; 
    }
    .title1 {padding-left:0;}
    
    .pill{gap:16px;}
    
    .text{margin:0;
    padding:0;}
    
   h3{font-size:28px;}
    
    .nextprev{padding-bottom:24px;}
    
    .result, .info, .back {padding-right:0;
    padding-left:0;}
    
    
}

@media only screen and (min-width: 2500px){
    
   h2{font-family: Zodiak-Bold;
font-size:80px;
padding-bottom:16px;}

h3 {font-family: Switzer-Medium;
font-size: 56px;}

h4 {font-family: Switzer-Regular;
font-size: 32px;}

p, li, .dida, .navbar{font-size:24px;   
}
    .nav{font-size:24px;}
 
    .box {
    height: 94vh;
    width: 97vw;
    border-radius:80px;
    padding:80px;   
}

    .margini{padding-right:80px;
    margin:0;}
    
    .container1{padding-right:200px;}
    .text, .nav, .task{font-size:24px;}
    .dida, .pill {font-size:18px;}
    .number, .number1 {font-size: 120px;}
    
    .element, { margin-bottom: 48px;
}

.element1 {
    margin-top: 48px;
}


.file{padding-bottom:100px;}
.file1{padding-bottom:64px;}


}


