* {
    box-sizing: border-box;
}
@font-face {
  font-family: 'Switzer-Regular';
  src: url('../assets/fonts/Switzer-Regular.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Regular.woff') format('woff'),
       url('../assets/fonts/Switzer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-Medium';
  src: url('../assets/fonts/Switzer-Medium.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Medium.woff') format('woff'),
       url('../assets/fonts/Switzer-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-Semibold';
  src: url('../assets/fonts/Switzer-Semibold.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Semibold.woff') format('woff'),
       url('../assets/fonts/Switzer-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../assets/fonts/Zodiak-Bold.woff2') format('woff2'),
       url('../assets/fonts/Zodiak-Bold.woff') format('woff'),
       url('../assets/fonts/Zodiak-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('../assets/fonts/Zodiak-ExtraboldItalic.woff2') format('woff2'),
       url('../assets/fonts/Zodiak-ExtraboldItalic.woff') format('woff'),
       url('../assets/fonts/Zodiak-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}



.loadermask {
background-color: #5128D3;
bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;}


.loader {
    transform: scale(1);
    height: 94vh;
    width: 97vw;
    border-radius:48px;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF8;
    position: absolute;
    animation: prova 2.5s;
}
   
.loader > div {
    width: 97vw;
    height: 94vh;
    border-radius: 48px;
    background: #FCFBF8;
    display:inline-block;
    
}

@keyframes prova {
    0%, 100% {
        animation-timing-function: ease-in-out;
    }
    25%,75% {
        transform: scale(0.2);
    }
    50%, 100%{transform: scale(1);
    }
}

/*TEXT STYLE*/
a {color: #252525;}
a:hover{
    text-decoration:none;
    color:#5128D3;}

h2{font-family: Zodiak-Bold;
font-size:40px;
padding-bottom:16px;}

h3 {font-family: Switzer-Medium;
font-size: 32px;}

h4 {font-family: Switzer-Regular;
font-size: 24px;
margin-bottom: 0;}

p{font-family:Switzer-Regular;
font-size:16px;
margin:0;
padding:0}

b{font-family:Switzer-Semibold;}

h2,h3,h4,p {color:#252525;}

body {
    color:#252525;
    background-color:#5128D3;
    width: 100%;
    height:100%;
    font-family: 'Switzer', sans-serif;
}

.box {
    height: 94vh;
    width: 97vw;
    border-radius:48px;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF7;
    position:fixed;
    padding:48px;   
}

.margini {position:absolute;
    overflow:scroll;
    bottom:0;
    height:82vh;
    margin:0;
    padding-top:0;
   padding-right:48px;}

/*NAVBAR*/

.container-fluid{padding-left:0;
padding-right:0;}

.navbar{
    font-family: Switzer-Regular;
    display:flex;
    justify-content: flex-end;
    padding:0;
    margin:0;
    font-size:18px;
    width:100%;
    }

.nav{gap:48px;}

#home {text-decoration: underline;
  text-decoration-color: #5128D3;
    text-underline-offset: 4px;}


/*HERO*/
.hero{display:flex;
min-width:100%;
margin:0;
padding:0;
justify-content: space-between;}

.container1{
    margin:0;
    padding:0;
    width:100%;
    overflow: scroll;
    color:black;
}

#image {
    visibility:hidden;
    position: absolute;
    border-radius:24px;
    margin-left: 52vw;
    margin-top: -74vh;
}


.highlight, .purple {font-family: Zodiak-ExtraboldItalic;}

.purple{color:#5128D3;}
.purple:hover {color:#7756DE;}

#link{
    color:#5128D3;
    text-decoration: underline;}

#link:hover{
    color:#7756DE;
    text-decoration: underline;}

.myname{padding:0;
margin:0;}

.jobtitle{padding-bottom:64px}

.main{width:100%;
    display:flex;
    gap:24px;
    font-family:Switzer-Regular;
}

/*SCROLL ANIMATION*/
.scroll{padding:0;
margin:0;
height:82vh;
align-content: flex-end;
justify-content:flex-end;}

.scroll-element{display:flex;
      align-self: flex-end;
   justify-content:flex-end; 
padding-bottom:48px;
transition: .6s;}

  .mouse {
      height: 60px;
      width: 32px;
      border: 2px solid #5128D3;
      border-radius: 32px;
      position: relative;
    
      padding-bottom:48px;
    }

    .scrollwheel {
      height: 20px;
      width: 2px;
      background: #5128D3;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 10px;
      border-radius: 1px;
      transform: scaleY(0);
      animation: scroll 2s linear infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateY(0) scaleY(1);
      }
      50% {
        transform: translateY(20px) scaleY(1);
      }
      100% {
        transform: translateY(0) scaleY(1);
      }
    }

@keyframes scroll {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  25% {
    transform: scaleY(1);
    transform-origin: top;
  }
  26% {
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}


/*copyright*/
.copyright-p {color:#717171;
font-size:13px;
    padding-top: 12px;
padding-bottom: 24px;}

.copyright{
padding:0;
margin:0;}


/*CATALOGO PROGETTI*/


.catalogo-prog {padding:0;
margin:0;
display:flex;
flex-direction:column;
height:82vh;
width:100%;}

.works{height:82vh;}

.filter, .filter-group {display:flex;
    align-items: center;
    gap:24px;}


.filter {padding-bottom:32px;}

.filter-button{
    border: 2px solid;
    padding: 8px 16px;
    border-radius:100px;
    border-color:#5128D3;
    color:#5128D3;
    cursor:pointer;
    white-space: nowrap;
    justify-content: center;
}

.filter-button:hover { border-color:#401FAC;
    color:#401FAC;}

.filter-button.active {
    background-color:#DFD7FB;
    border-color:#5128D3;
    color:#5128D3;
}

.gridcontainer {
margin:0;
padding:0;
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  width: 100%;
  height: auto;
grid-column-gap:3%;
    grid-row-gap:5%;
    flex: 1 1 0;
}

.scrollable {
    overflow-y: auto;
}

.gridelement{
    position:relative;
}

.imgprogetto {
    width:100%;
    height:100%;
    border-radius: 24px;
    display:block;
}

.title {padding-bottom:12px;
}

.title-p:hover {color: #5128D3;}

.title-p{font-family:Zodiak-Bold;
margin-bottom:0;}

.media {font-family: Switzer-Medium;
    font-size:18px;}

.description{padding-top:8px;
color:#717171;}

.imghover{display:block; position: relative}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:24px;
}

.imghover:hover .overlay {
    background-color: #5128D366;
}

/*RESPONSIVE*/
@media only screen and (max-width: 927px){
    
      
.gridcontainer {
  margin-left:0;
  padding:0;
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto auto auto;
  width: 100%;
  height: auto;
  grid-column-gap:3%;
  grid-row-gap:7%;
  flex: 1 1 0;}
    
      h4{padding-bottom: 8px;}
    .filter-group{gap:16px;}
    
    .catalogo-prog {height:85vh;}
}

@media only screen and (min-width: 927px) and (max-width: 1200px){
    
.gridcontainer {
margin:0;
padding:0;
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  width: 100%;
  height: auto;
grid-column-gap:3%;
    grid-row-gap:7%;
    flex: 1 1 0;}
    
      h4{padding-bottom: 8px;}
    .filter-group{gap:16px;}
    
    .catalogo-prog {height:85vh;}
    
  
}

@media only screen and (max-width: 1200px){
    
    .loader {
    height: 97vh;
    width: 94vw;
    border-radius:24px;
    margin-top:1.5vh;
    margin-left:3vw;
}
   
.loader > div {
    width: 94vw;
    height: 95vh;
    border-radius:24px; 
    margin-top:1.5vh;
}
    
    .box {
    height: 97vh;
    width: 94vw;
    border-radius:24px;
    margin-top:1.5vh;
    margin-left:3vw;
    padding: 24px;
}
    
    .scroll{visibility:hidden;
    height:0;}
    
    h3{font-size:28px;}
    h4{font-size:20px;}
    

           .margini{
    height:85vh; 
    margin-right:0;
}
    .hero{padding-bottom:32px;
    flex-direction: column;}
    
.container1 {
	width: 100%;
    padding:0;
    position:relative;
    padding-right:0;
    padding-bottom:0;
    margin-bottom:0;
}
.container2 {
    padding-left: 0;
    padding-right:24px;
    width: 100%;
}
    .margini{
        padding-right:24px;
        padding-left:0;
    }
    
    .purple{color:black;} 
    
    #image {visibility:hidden;
    width:0;
    height:0;}
    
    .filter{flex-direction:column;
        align-items: flex-start;
    gap:0;
    padding-right:0px;
    }
    
    .filter-group {max-width:80vw;
    overflow-x: auto;
    gap:24px;}
    
    .copyright-p{padding-bottom:24px;}
}


@media only screen and (min-width: 2500px){
    
    .loader{border-radius:80px;}
    .loader>div {border-radius:80px;}
    
h2{font-family: Zodiak-Bold;
font-size:80px;
padding-bottom:16px;}

h3 {font-family: Switzer-Medium;
font-size: 56px;}

h4 {font-family: Switzer-Regular;
font-size: 32px;}

p, li, .main, .description, .skill, .copyright-p{font-size:28px;   
}
    .nav{font-size: 28px;}
 
    .box {
    height: 94vh;
    width: 97vw;
    border-radius:80px;
    padding:80px;   
}
    .filter {padding-bottom:64px;}

    .media {font-size:28px;}
.margini {
   padding-right:80px;}
    
    .container1{padding-right:200px;}
}
