* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Switzer-Medium;
  src: url(../assets/fonts/Switzer-Medium.woff2) format('woff2'),
       url(../assets/fonts/Switzer-Medium.woff) format('woff'),
       url(../assets/fonts/Switzer-Medium.ttf) format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: Switzer-MediumItalic;
  src: url('../assets/fonts/Switzer-MediumItalic.woff2') format('woff2'),
       url('../assets/fonts/Switzer-MediumItalic.woff') format('woff'),
       url('../assets/fonts/Switzer-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-style: italic;
}

@font-face {
  font-family: Switzer-Semibold;
  src: url('../assets/fonts/Switzer-Semibold.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Semibold.woff') format('woff'),
       url('../assets/fonts/Switzer-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: Switzer-Light;
  src: url('../assets/fonts/Switzer-Light.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Light.woff') format('woff'),
       url('../assets/fonts/Switzer-Light.ttf') format('truetype');
       font-weight: 300;
       font-style: normal;
}

@font-face {font-family: Zodiak-ExtraboldItalic;
  src: url('../assets/fonts/Zodiak-ExtraboldItalic.woff2') format('woff2'),
       url('../assets/fonts/Zodiak-ExtraboldItalic.woff') format('woff'),
       url('../assets/fonts/Zodiak-ExtraboldItalic.ttf') format('truetype');
       font-weight: 800;
       font-style: normal;
}

.loadermask {
background-color: #7E5CE7;
bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;}


.loader {
    transform: scale(1);
    height: 94vh;
    width: 97vw;
    border-radius:3.5rem;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF7;
    position: absolute;
    animation: prova 2.5s;
}
   
.loader > div {
    width: 97vw;
    height: 94vh;
    border-radius: 3.5rem;
    background: #FCFBF7;
    display:inline-block;
    
}

@keyframes prova {
    0%, 100% {
        animation-timing-function: ease-in-out;
    }
    25%,75% {
        transform: scale(0.2);
    }
    50%, 100%{transform: scale(1);
    }
}

/* LINK */
a {
    color: black;
    text-decoration:none;
}

a:hover {text-decoration: none;
color:#7E5CE7;
border-color:#7E5CE7;}

body {
    color:black;
   height:100%;
    width:100%;
    background-color:#FCFBF7;
    border-top: 1rem solid #7E5CE7;
    margin:0;
    padding:0;
}

.container1{
    padding:3rem;
    padding-bottom:4rem;
    height: 100%;
    width:100%;
    font-family: Switzer-Medium;
}

/* NAV */
.nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    margin:0;
    margin-bottom:4rem;
    padding:0;
}

.button{
    border: solid;
    font-size: 2vh;
    border-radius:100px;
    border-style:solid;
    padding: 1vh 3vh;
    display:inline-block;   
}
/* MAIN */
.main 
{display:flex;
flex-direction: column;
justify-content: space-between; 
position:relative;
overflow:scroll;
width:auto;
height:100%;
}

.content {
    font-size:4.5vh;
}

.highlight, .purple {font-family:Zodiak-Extrabolditalic}

.purple{color:#7E5CE7;}

#image {
    visibility:hidden;
    position: absolute;
    border-radius:40px;
    margin-left: 48vw;
    margin-top: -72vh;
}

.link{
    display:flex;
    gap:4rem;
    font-family: Switzer-Regular;
    margin-top:4rem;
}


