@import "common.css";
@import "fonts.css";
@import "main.css";

/*griglia*/

.grid-container {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;
}

.grid-item {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
}

.gridelement {
  position: relative;
}

.element__image {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  display: block;
}

.text_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 116, 241, 0.8);
  border-radius: 3rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.text_overlay:hover {
  opacity: 1;
}


.num {
  font-family: Switzer-Medium;
  font-size: 2vh;
  margin-top: 1.5vh;
  margin-bottom: 2.5vh;
}

.title {
  font-family: Zodiak-Bold;
  font-size: 3vh;
  width: 90%;
  line-height: 120%;
  margin-bottom: 2%;
}

.tag {
  font-family: Switzer-Light;
  font-size: 2vh;
  width: 90%;
}

.tagm {
  font-family: Switzer-Light;
  font-size: 2vh;
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}


@media only screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    margin: 0;
    padding: 0;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }


  .tagm {
    visibility: visible;
    height: 100%;
    margin-top: 1vh;
  }

  .tag {
    visibility: hidden;
  }

  .title {
    font-size: 2.5vh;
  }

  .num {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

@media only screen and (max-width: 590px) {
  .grid-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    height: auto;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 703px) and (min-width: 591px) {
  .grid-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    height: auto;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 815px) and (min-width: 704px) {
  .grid-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    height: auto;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 927px) {
  .text_overlay, .element__image {
    border-radius: 1.6rem;
  }
}

@media only screen and (max-width: 927px) and (min-width: 815px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }

  .text_overlay {
    border-radius: 2rem;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 927px) {
  #arrow {
    width: 1rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1150px) {
  .nav {
    width: 28vw;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    margin: 0;
    padding: 0;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }


  .tagm {
    visibility: visible;
    height: 100%;
    margin-top: 1vh;
  }

  .tag {
    visibility: hidden;
  }

  .title {
    font-size: 2.5vh;
  }

  .num {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1201px) {

  .margini {
    height: 83vh;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    margin: 0;
    padding: 0;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20%;
  }

  .tag {
    visibility: visible;
  }
}

@media only screen and (max-width: 1980px) and (min-width: 1800px) {
  .num {
    margin-bottom: 2vh;
  }

  .title {
    font-size: 2.8vh;
  }
}

@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  .io {
    margin-bottom: 12vh;
  }

  .num {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .title {
    font-size: 2.8vh;
  }
}

@media only screen and (min-width: 3000px) and (min-height: 2000px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
  }

  .io {
    margin-bottom: 6vh;
  }

  .grid-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  .tag {
    visibility: visible;
  }

  .element__image {
    border-radius: 6rem;
  }

  .text_overlay {
    border-radius: 6rem;
  }

  .num {
    margin-top: 0.8vh;
    margin-bottom: 1vh;
  }
}